<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AD密码自助平台</title>
    <script type="module" crossorigin src="assets/js/index.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <header>
        <h1>AD密码自助平台</h1>
    </header>
    <main>
        <div class="content-container">
            <div class="content-block">
                <img src="assets/img/reset.png" alt="重置密码">
                <button id="password" onclick="location.href='captcha.html'">重置密码</button>
            </div>
            <div class="content-block">
                <img src="assets/img/unlock.png" alt="解锁账号">
                <button id="account" onclick="location.href='captcha.html'">解锁账号</button>
            </div>
    </main>

</body>
</html>