apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: password-self-service
  name: password-self-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: password-self-service
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: password-self-service
    spec:
      containers:
      - name: password-self-service
        image: docker.io/kubeop/password-self-service:main
        imagePullPolicy: Always
        args:
          - --config=/etc/password-self-service/password-self-service.yaml
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        env:
        - name: APP_ENV
          value: prd
        - name: APP_LANG
          value: go
        - name: APP_PROJECT
          value: ops
        - name: APP_NAME
          value: password-self-service
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        - name: POD_IP
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: status.podIP
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        resources:
          limits:
            cpu: "1"
            memory: 2Gi
          requests:
            cpu: "1"
            memory: 2Gi
        securityContext:
          runAsNonRoot: true
          runAsUser: 65534
        startupProbe:
          failureThreshold: 3
          httpGet:
            path: /health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        volumeMounts:
        - mountPath: /etc/password-self-service
          name: password-self-service
          readOnly: false
      terminationGracePeriodSeconds: 60
      volumes:
      - name: password-self-service
        configMap:
          name: password-self-service
