definitions:
  account.unlockAccountRequest:
    properties:
      code:
        description: 验证码
        type: string
      username:
        description: 用户名
        maxLength: 20
        minLength: 2
        type: string
    required:
    - code
    - username
    type: object
  captcha.sendCaptchaRequest:
    properties:
      category:
        description: 类别
        enum:
        - account
        - password
        type: string
      username:
        description: 用户名
        type: string
    required:
    - category
    - username
    type: object
  captcha.verifyCaptchaRequest:
    properties:
      category:
        description: 类别
        enum:
        - account
        - password
        type: string
      code:
        description: 验证码
        type: string
      username:
        description: 用户名
        type: string
    required:
    - category
    - code
    - username
    type: object
  password.resetPasswordRequest:
    properties:
      code:
        description: 验证码
        type: string
      newPassword:
        description: 新密码
        type: string
      username:
        description: 用户名
        maxLength: 20
        minLength: 2
        type: string
    required:
    - code
    - newPassword
    - username
    type: object
  response.JsonRes:
    properties:
      code:
        description: 错误码((0:成功, 1:失败, >1:错误码))
        type: integer
      data:
        description: 返回数据(业务接口定义具体数据结构)
      message:
        description: 提示信息
        type: string
    type: object
info:
  contact: {}
  description: AD密码自助平台
  title: Swagger API
  version: "1.0"
paths:
  /captcha/send:
    post:
      consumes:
      - application/json
      parameters:
      - description: 获取验证码
        in: body
        name: sendCaptcha
        required: true
        schema:
          $ref: '#/definitions/captcha.sendCaptchaRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.JsonRes'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.JsonRes'
      security:
      - BearerToken: []
      summary: 获取验证码
      tags:
      - Captcha
  /captcha/verify:
    post:
      consumes:
      - application/json
      parameters:
      - description: 校验验证码
        in: body
        name: VerifyCaptcha
        required: true
        schema:
          $ref: '#/definitions/captcha.verifyCaptchaRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.JsonRes'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.JsonRes'
      security:
      - BearerToken: []
      summary: 校验验证码
      tags:
      - Captcha
  /reset-password:
    post:
      consumes:
      - application/json
      parameters:
      - description: 重置密码
        in: body
        name: ResetPassword
        required: true
        schema:
          $ref: '#/definitions/password.resetPasswordRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/response.JsonRes'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.JsonRes'
      security:
      - BearerToken: []
      summary: 重置密码
      tags:
      - User
  /unlock-account:
    post:
      consumes:
      - application/json
      parameters:
      - description: 解锁账户
        in: body
        name: UnlockAccount
        required: true
        schema:
          $ref: '#/definitions/account.unlockAccountRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/response.JsonRes'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.JsonRes'
      security:
      - BearerToken: []
      summary: 解锁账户
      tags:
      - User
securityDefinitions:
  BearerToken:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
